body{
    background-color: yellow;
}

form{
    text-decoration: dashed;
    background-color: aqua;
}

.bg-blue{
    background-color: wheat;
}

.red{
    background-color: blueviolet;
}

section{
    display: inline;
}